{% extends "layout.html" %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="static/assets/style.css">
{% endblock %}
{% block content %}
  <style>
    u{
      font-size: 18px;
      font-family: "Helvetica Neue", Arial,sans-serif;
      font-weight: 300;
      color:#660b81;
    }
    u,u:visited,u:hover,u:active{
      -webkit-backface-visibility:hidden;
              backface-visibility:hidden;
      position:relative;
      transition:0.5s color ease;
      text-decoration:none !important;
    }
    u.before:before,u.after:after{
      content: "";
      transition:0.5s all ease;
      -webkit-backface-visibility:hidden;
              backface-visibility:hidden;
      position:absolute;
      text-decoration:none !important;
    }
    u.before:before{
      top:-0.25em;
    }
    u.after:after{
      bottom:-0.25em;
    }
    u.before:before,u.after:after{
      height:0.15rem;
      opacity: 0.5;
      width:0;
      background:#660b81;
    }
    u.first:after{
      left:0;
    }
    u.before:hover:before,u.after:hover:after{
      width:100%;
    }
  </style>
  <h1> {{ posts.title }} </h1>
  <a> Embedded world is a great passion of mine. I played with circuits and programmed since 13 and I love both EE and CS. I find Embedded Systems to be the best of both worlds.</a>
  {% for post in posts.each_posts %}  
    {% if post.subclass is defined %}
    <h2> {{ post.subclass }} </h2>
    {% endif %}
    {% if post.has_more %}
    {% if post.subclass is not defined %} <br> {% endif %}
    <a class="dropdown-btn" style="display:inline !important;text-align:left !important;"><u class="first after" style="text-decoration:none">{{post.link_about}}</u><div style="color:black !important; display: inline;">: {{post.more_on_topic}}</div></a>
      <div class="dropdown-container">
      {% if post.actions is defined %}
        {% if post.image_link is defined %}
        <img src="{{post.image_link}}" style="height:200px;"><img src="{{post.image_link1}}" style="height:200px;"><br>
        {% endif %}
        <a>Developed:</a><br>
        {% for act in post.actions %}  
        <li><a> {{ act }} </a></li> 
        {% endfor %}
      {% endif %}
      {% if post.sensors is defined %}
        <a> Technologies used:</a><br>
        {% for sense in post.sensors %}  
        <li><a> {{ sense }} </a></li> 
        {% endfor %}
      {% endif %}
      {% if post.sensors is defined %}
        <a>Communication Protocols:</a><br>
        {% for tech in post.techs %}  
        <li><a> {{ tech }} </a></li> 
        {% endfor %}
        </div>
      {% endif %}
      {% else %}
        {% if post.subclass is not defined %} <br> {% endif %}
        <a class="first after" style="text-decoration:none" href="{{ post.link }}"> {{post.link_about}}</u><a>: {{post.more_on_topic}}</a>
    {% endif %}<br>
  {% endfor %}
{% endblock %}
