{% extends "layout.html" %}
{% block content %}
  <h1> Embedded Systems Resources </h1>
  <a> Resources: <br> 
  <a href='https://www.eecs.umich.edu/courses/eecs473/labs.html'>
    The Advanced Embedded Systems</a><a>  at University of Michigan. <br>
  <a href='http://www.kicad-pcb.org/'>
    Kicad</a><a> : free embedded circuit design tools. <br>
  <a href="https://www.freertos.org/">
    FreeRtos</a><a> : free real time operating system protected under open source license. <br>
  </a>
{% endblock %}
