{% extends "layout.html" %}
{% block content %}
<!--   <div class="slideshow-container">
  <div class="mySlides fade">
  <img src="{{posts.image_link}}" style="width:500px">

  <div class="text"></div>
  </div>
  </div> -->
  <style>
    .blinking{
      display: inline-block;
      color:Tomato;
      animation:blinkingText 1.2s infinite;
  }
  @keyframes blinkingText{
      0%{     color: #000;    }
      49%{    color: #000; }
      60%{    color: transparent; }
      99%{    color: transparent;  }
      100%{   color: #000;    }
  }
    .coder {
      display: inline-block;
      color:Tomato;
      font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    }
}
  </style>
  <font size="5"><div id="message-box" class="coder"></div></font>
  <h1> {{ posts.title }} </h1>
  {% for post in posts.each_posts %}    
    <a href="{{ post.link }}">{{ post.link_about }} </a><a>{{post.more_on_topic}} </a><br>
  {% endfor %}
{% endblock %}
