{% extends "layout.html" %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="static/assets/style.css">
{% endblock %}
{% block content %}
  <style>
    .blinking{
      display: inline-block;
      color:#660b81 !important;
      animation:blinkingText 1.2s infinite;
  }
  @keyframes blinkingText{
      0%{     color: #660b81;    }
      49%{    color: #660b81; }
      60%{    color: transparent; }
      99%{    color: transparent;  }
      100%{   color: #660b81;    }
  }
    .coder {
      display: inline-block;
      color:#660b81;
      font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    }
  }
  </style>
  <font size="5" onmouseover="typeWriter()"><div id="message-box" class="coder">▶ </div></font>

  <h1> {{ posts.title }} </h1>
  {% for post in posts.each_posts %}    
    <u class="first after" style="text-decoration:none" href="{{ post.link }}">{{ post.link_about }} </u><a>{{post.more_on_topic}} </a><br>
  {% endfor %}
{% endblock %}
